<section id="about" class="about container">
  <h1 class="about__title">Web Developer</h1>

  <section class="about__content" id="about">
    <div class="about__content__info">
      <div class="about__content__info__text">
        <h1>About</h1>

        <p>
          Graduated in Bachelor of Information Systems (Centro Universitário
          Senac - Santo Amaro). Postgraduate in Multiplatform Mobile Application
          Projects (Descomplica Faculdade Digital).
        </p>

        <p>
          Acting as a web developer creating landing pages, portals, websites
          and libraries using JavaScript, TypeScript, HTML, CSS, SASS, Storybook
          and Angular.
        </p>
      </div>
    </div>

    <app-hobbie class="hobbie"></app-hobbie>

    <div class="about__content__images">
      <div class="about__content__img">
        <img
          class="about__content__img__me"
          src="../../../assets/images/me.jpg"
          alt="
          Me with a Mexican hat and smiling"
        />
      </div>

      <div class="about__content__img">
        <img
          class="about__content__img__logo"
          src="../../../assets/images/icon.jpg"
          alt="Icon - Edson Camargo Menezes"
        />
      </div>
    </div>
  </section>

  <hr class="divisor" />
  <app-super-info></app-super-info>
</section>
