<div class="container">
  <h1 class="introduction">DESENVOLVEDOR WEB</h1>
  <hr class="divisor">
  <section class="about" id="about">
    <div class="about-info">
      <h1>Sobre mim</h1>
      <p>
        Graduando em Sistemas de Informação (Centro Universitário Senac - Santo Amaro).
      </p>
      <p>
        Trabalhando no Centro de Inovação e Tecnologia (Centro Universitário Senac - Santo Amaro) e atuando como
        desenvolvedor web com Angular, Typescript, HTML, CSS e Spring Boot, mas com um pézinho a mais em
        front-end. Conhecimentos básicos nos bancos de dados NoSQl Firebase Realtime Database e MySQL.
      </p>
    </div>
    <div class="about-img">
      <img class="img-me" src="../../../assets/images/eu.jpg" alt="Edson Camargo Menezes">
    </div>
    <div class="about-img">
      <img class="img-logo" src="../../../assets/images/logo.jpg" alt="Logo - HNT3 (Meu logo)">
    </div>
  </section>
  <hr class="divisor">
</div>
