.about {
  &__title {
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    word-break: break-word;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 60px 0;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0px 24px 0px 0px;

      h1 {
        font-size: 2em;
        margin-top: -6px;
        margin-bottom: 0.5em;
      }

      p {
        font-size: 1.25em;
        line-height: 1.4;
        text-align: justify;
        margin-bottom: 1em;
        color: var(--ec-color-neutral-100);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__images {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 16px;

      .about__content__img {
        &__me {
          border-top: 8px solid var(--ec-color-primary);
        }

        &__logo {
          border-top: 8px solid var(--ec-color-primary-regular);
        }
      }
    }
  }
}
