<footer class="footer">
    <div class="footer-container">
        <div class="footer-item column">
            <p>Currículo - Edson Camargo © todos os direito reservados</p>
            <p>Desenvolvido por
                <a href="https://www.edsoncamargo.com.br/#/" target="_blank">edsoncamargo.com.br</a>.
            </p>
        </div>
        <div class="footer-item">
            <img class="logo" src="../../../assets/images/Logo Hunter (sem fundo).png" alt="">
        </div>
    </div>
</footer>