<header class="navbar">
  <div class="navbar__options">
    <div class="navbar__brand">
      <a href="https://www.edsoncamargo.dev" target="_blank">Edson Camargo</a>
    </div>

    <nav class="navbar__navigation">
      <ul>
        <li>
          <a (click)="scrollTo('about')">Sobre</a>
        </li>

        <li>
          <a (click)="scrollTo('skills')">Habilidades</a>
        </li>

        <li>
          <a (click)="scrollTo('experiences')">Experiências</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
