.navbar {
  background: var(--color-primary-regular);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);

  &__options {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(54, 4, 4);
    margin: 0 auto;
    padding: 16px 24px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar__brand {
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 16px;

      a {
        transition: all ease-in-out 0.3s;
      }
    }

    .navbar__navigation {
      ul {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 24px;
        }

        li {
          a {
            position: relative;
            font-size: 1.25em;
            text-transform: uppercase;
            padding: 8px;
            transition: all ease-in-out 0.3s;

            &:first-child {
              padding-left: 0;
            }

            &:before {
              content: "";
              height: 4px;
              width: 0%;
              position: absolute;
              bottom: 4px;
              background-color: var(--color-neutral-100);
              transition: all ease-in-out 0.3s;
            }

            &:hover {
              &:before {
                width: 60%;

                @media (hover: none) {
                  width: 0%;
                }
              }
            }
          }
        }
      }
    }
  }
}
