:root {
  --color-primary: rgb(114, 117, 183);
  --color-primary-medium: rgb(61, 64, 131);
  --color-primary-regular: rgb(35, 37, 93);
  --color-primary-dark: rgb(16, 24, 35);
  --color-neutral-100: rgb(255, 255, 255);
  --color-primary-skill: rgb(196, 0, 48);
  --color-secondary-skill: rgb(34, 34, 34);
  --color-tertiary-skill: rgb(240, 218, 80);
}
