:root {
  --ec-color-primary: rgb(122, 125, 222);
  --ec-color-primary-medium: rgb(61, 64, 131);
  --ec-color-primary-regular: rgb(35, 37, 93);
  --ec-color-primary-dark: rgb(16, 24, 35);
  --ec-color-neutral-100: rgb(255, 255, 255);
  --ec-color-primary-skill: rgb(196, 0, 48);
  --ec-color-secondary-skill: rgb(34, 34, 34);
  --ec-color-tertiary-skill: rgb(240, 218, 80);
}
