.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 24px;

  .title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .divisor {
    height: 2px;
    background-color: var(--ec-color-primary-regular);
    border: none;
    margin: 16px 0px;
  }
}
