*,
body {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
