.super-info-bg {
  background: var(--dark-blue);
}

.super-info {
  color: #fff;
  max-width: 960px;
  margin: 0 auto !important;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 1 400px
}

.icon {
  width: 12px;
}

a {
  display: flex;
  padding-right: 10px;
  padding-left: 10px
}

.icon {
  margin-right: 10px;
}