.super-info {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  background: var(--color-primary-medium);
  color: var(--color-neutral-100);
  margin: 0 auto;
  padding: 24px;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &__item {
    min-width: 160px;
    display: flex;
    align-items: center;
    position: relative;

    &:before {
      content: "";
      height: 4px;
      width: 0%;
      position: absolute;
      left: 0;
      bottom: -8px;
      background-color: var(--color-neutral-100);
      transition: all ease-in-out 0.3s;
    }

    &:hover {
      &:before {
        width: 60%;

        @media (hover: none) {
          width: 0%;
        }
      }
    }

    @media (max-width: 800px) {
      justify-content: flex-start;
    }

    &__icon {
      height: 16px;
      margin-right: 8px;
      filter: invert(0);
      transition: all ease-in-out 0.3s;
    }
  }
}
