<div class="super-info-bg">
  <div class="super-info">
    <p>
      <a href="tel:11969920250">
        <img class="icon" src="../../.././assets/images/phone-alt-solid.svg" alt=""> +55 11 969920250
      </a>
    </p>
    <p>
      <a href="https://www.google.com/maps/place/Interlagos,+S%C3%A3o+Paulo+-+SP/data=!4m2!3m1!1s0x94ce4fc81dd8140d:0xca4143f5096ba359?sa=X&ved=2ahUKEwjWje-L89bkAhVjpVkKHYuXDgUQ8gEwAHoECAoQAQ"
        target="_blank">
        <img class="icon" src="../../.././assets/images/map-marker-solid.svg" alt=""> São Paulo, Brasil
      </a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/edsoncmenezes/" target="_blank">
        <img class="icon" src="../../.././assets/images/linkedin-in-brands.svg" alt=""> edsoncamargo
      </a>
    </p>
    <p>
      <a href="https://github.com/edsoncamargo" target="_blank">
        <img class="icon" src="../../.././assets/images/github-brands.svg" alt=""> edsoncamargo
      </a>
    </p>
  </div>
</div>