<section class="hobbie">
  <h1 class="title">Hobbies</h1>

  <div class="hobbie__list">
    <div class="hobbie__item games">
      <img
        src="../../../assets/images/icons/hobbies/games.svg"
        alt="Controller"
      />
    </div>

    <div class="hobbie__item soccer">
      <img src="../../../assets/images/icons/hobbies/soccer.svg" alt="Ball" />
    </div>

    <div class="hobbie__item netflix">
      <img
        src="../../../assets/images/icons/hobbies/netflix.svg"
        alt="Netflix"
      />
    </div>

    <div class="hobbie__item book">
      <img src="../../../assets/images/icons/hobbies/book.svg" alt="Book" />
    </div>
  </div>
</section>
