.hobbie-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.hobbie-item {
  justify-self: flex-end;
  margin-bottom: 10px;
}

.games,
.soccer,
.netflix {
  margin-right: 10px;
}

.hobbie {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}