<h1 class="introduction">Hobbies</h1>
<div class="hobbie-container">
  <div class="hobbie-item">
    <img class="hobbie" src="../../../assets/images/games.svg" alt="">
  </div>
  <div class="hobbie-item">
    <img class="hobbie" src="../../../assets/images/soccer.svg" alt="">
  </div>
  <div class="hobbie-item">
    <img class="hobbie" src="../../../assets/images/netflix.svg" alt="">
  </div>
  <div class="hobbie-item">
    <img class="hobbie" src="../../../assets/images/book.svg" alt="">
  </div>
</div>