.skills {
  width: calc(100% + 16px);

  &__items {
    display: flex;
    flex-wrap: wrap;

    &__item {
      flex: 1 1 175px;
      align-self: center;
      margin: 16px 16px 16px 0px;

      h2 {
        padding: 60px 20px;
        background: var(--color-primary-dark);
        margin: 0;
      }

      @media (max-width: 768px) {
        &:nth-child(2) {
          order: -1;
        }
      }

      &--primary-skill {
        border-top: 8px solid var(--color-primary-skill);
        margin-top: 0px;
      }

      &--secondary-skill {
        border-top: 8px solid var(--color-secondary-skill);
      }

      &--tertiary-skill {
        border-top: 8px solid var(--color-tertiary-skill);
      }
    }
  }
}
