<section class="container" id="skills">
    <h1 class="skills-title">Habilidades principais</h1>
    <div class="skills-container">
        <div class="skill-item html">
            <h2>HTML5</h2>
            <img src="../../../assets/images/html5.jpg" alt="">
        </div>
        <div class="skill-item angular">
            <h2>Angular</h2>
            <img src="../../../assets/images/angular.jpg" alt="">
        </div>
        <div class="skill-item css">
            <h2>CSS3</h2>
            <img src="../../../assets/images/css3.jpg" alt="">
        </div>
    </div>
</section>