<section id="skills" class="skills container" id="skills">
  <h1 class="skills__title title">Habilidades</h1>

  <div class="skills__items">
    <div class="skills__items__item skills__items__item--secondary-skill">
      <h2>React Native</h2>
      <img
        src="../../../assets/images/skills/secondary-skill.jpg"
        alt="React Native"
      />
    </div>

    <div class="skills__items__item skills__items__item--primary-skill">
      <h2>Angular</h2>
      <img
        src="../../../assets/images/skills/primary-skill.jpg"
        alt="Angular"
      />
    </div>

    <div class="skills__items__item skills__items__item--tertiary-skill">
      <h2>TS & JS</h2>
      <img
        src="../../../assets/images/skills/tertiary-skill.jpg"
        alt="TS & JS"
      />
    </div>
  </div>
</section>
