.skills {
  width: 100%;

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &__item {
      flex: 1 1 175px;
      align-self: center;
      gap: 24px;
      margin-bottom: 0px;

      h2 {
        padding: 60px 20px;
        background: var(--ec-color-primary-dark);
        margin: 0;
      }

      @media (max-width: 768px) {
        &:nth-child(2) {
          order: -1;
        }
      }

      &--primary-skill {
        border-top: 8px solid var(--ec-color-primary-skill);
        margin-top: 0px;
      }

      &--secondary-skill {
        border-top: 8px solid var(--ec-color-secondary-skill);
      }

      &--tertiary-skill {
        border-top: 8px solid var(--ec-color-tertiary-skill);
      }
    }
  }
}
