/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
  --light-gray: #f4f4f4;
  --pink: #E71D36;
  --dark-blue: #3066BE;
  --dark-gray: #202020;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #222222;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.80);
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px
}

.divisor {
  height: 4px;
  background-color: var(--dark-blue);
}