<div class="container-bg">
  <div class="container">
    <h1 class="introduction">Experiências</h1>
    <section class="experience-container">
      <div class="experience-title-container">
        <h2 class="experience-title">Desenvolvedor Web <br><small class="experience-date">maio de 2018 - o
            momento</small>
        </h2>
      </div>
      <div class="experience-item">
        <p>
          Atuação na criação do site CIT - Senac, desenvolvido em Angular, utilizando ferramentas do Firebase e também
          contém painel administrativo
        </p>
      </div>
      <div class="experience-item">
        <p>
          Atuação no desenvolvimento de uma plataforma referente a eventos, fiquei responsável
          em criar funções de notificação push e e-mail. As notificações foram desenvolvidas em Angular, Ionic 3 e
          utilizando a ferramenta Firebase Cloud Messaging.
        </p>
      </div>
      <div class="experience-item">
        <p>
          Atuação na criação de uma plataforma para uma área específica do Senac que tem como
          objetivos guardar e responder reclamações, desenvolvida com Angular, Spring Boot e MySQL.
        </p>
      </div>
    </section>
  </div>
</div>
