.experiences {
  background: var(--ec-color-primary-regular);

  .experience-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 8px solid var(--ec-color-primary);
    border-left: 2px solid var(--ec-color-primary);
    border-right: 2px solid var(--ec-color-primary);
    border-bottom: 2px solid var(--ec-color-primary);

    .experience-title-container {
      width: calc(100% + 8px);
      display: flex;
      flex-direction: column;
      gap: 16px;
      line-height: 24px;
    }

    .experience-title {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 24px;

      span {
        font-size: 0.8em;
        font-weight: 300;
        line-height: 8px;
      }

      .experience-date {
        align-self: flex-end;
        font-size: 0.6em;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .experiences__items {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .experiences__items__item {
        width: calc(100% + 8px);
        flex-grow: 1;
        flex-basis: 250px;
        padding: 16px;
        border: 2px solid #fff;

        p {
          font-size: 1.25em;
          line-height: 1.4;
          margin-bottom: 1em;
        }
      }
    }
  }
}
