<section id="experiences" class="experiences">
  <div class="container">
    <h1 class="title">Work Experience</h1>

    <section class="experiences__container">
      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            Centro Universitário Senac
            <span
              ><br />
              Web Development Intern</span
            >
            <br />
            <small class="experience-date">may 2018 - oct 2019</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Web Development Intern at Senac, playing a fundamental role in
              several projects. I highlight my contribution to the development
              of the CIT - Senac website in Angular, with integration of
              Firebase tools and creation of an administrative panel.
              Additionally, I actively participated in the design of an events
              platform, where I was responsible for implementing push
              notifications and emails using Angular, Ionic 3 and Firebase Cloud
              Messaging. I also collaborated in the creation of a specific Senac
              platform for managing and responding to complaints, using Angular,
              Spring Boot and MySQL.
            </p>
          </div>
        </div>
      </section>

      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            everis
            <span
              ><br />
              Junior Engineer Technology</span
            >
            <br />
            <small class="experience-date">oct 2019 - feb 2021</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Collaborator providing outsourced support services in the
              development of web systems in private and public cloud projects at
              Itaú, using Angular and Spring Boot over the microservices
              architecture.
            </p>
          </div>
        </div>
      </section>

      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            fri.to
            <span
              ><br />
              Frontend Developer</span
            >
            <br />
            <small class="experience-date">feb 2021 - dec 2022</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Frontend collaborator, providing web development outsourcing
              services for Bradesco. Specialized in creating landing pages,
              portals, websites, responsive interfaces, components, semantic and
              accessible pages, using JavaScript, TypeScript, HTML, CSS, SASS,
              and Angular.
            </p>
          </div>
        </div>
      </section>

      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            frt
            <span
              ><br />
              Frontend Developer</span
            >
            <br />
            <small class="experience-date">dec 2022 - the moment</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Frontend collaborator, providing web development outsourcing
              services for Bradesco. Specialized in creating and maintaining
              landing pages, component libraries, and Design Systems, using
              JavaScript, TypeScript, HTML, CSS, SASS, Angular, and Storybook.
            </p>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>
