<section id="experiences" class="experiences">
  <div class="container">
    <h1 class="title">Experiências de trabalho</h1>

    <section class="experiences__container">
      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            Centro Universitário Senac
            <span
              ><br />
              Web Development Intern</span
            >
            <br />
            <small class="experience-date">mai de 2018 - out de 2019</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Estagiário de Desenvolvimento Web no Senac, desempenhando um papel
              fundamental em diversos projetos. Enfatizo minha contribuição para
              o desenvolvimento do site Centro de Inovação e Tecnologia do Senac
              (CIT) em Angular, com integração de ferramentas do Firebase para
              criar um painel administrativo que gerenciava o site. Além disso,
              participei ativamente no projeto de uma plataforma de eventos,
              onde fui responsável pela implementação de notificações push e
              e-mails usando Angular, Ionic 3 e Firebase Cloud Messaging. Também
              colaborei na criação de uma plataforma específica do Senac para
              gestão e resposta de reclamações, utilizando Angular, Spring Boot
              e MySQL.
            </p>

            <p>
              ** No estágio, atuei no Centro de Inovação e Tecnologia do Senac,
              uma área interna que introduzia professores e alunos no mercado,
              participando de projetos internos, além de consultorias para
              empresas externas.
            </p>
          </div>
        </div>
      </section>

      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            everis
            <span
              ><br />
              Junior Engineer Technology</span
            >
            <br />
            <small class="experience-date">out de 2019 - fev de 2021</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Colaborador Fullstack Júnior, prestando serviços terceirizados de
              desenvolvimento web para o Itaú, utilizando a arquitetura de
              microservices com Angular e Spring Boot. Tarefas incluem a criação
              de um dashboard que utilizava o segmento de cloud, aplicando os
              conceitos de IaaS e PaaS na cloud privada e pública.
            </p>
          </div>
        </div>
      </section>

      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            fri.to
            <span
              ><br />
              Frontend Developer</span
            >
            <br />
            <small class="experience-date">fev de 2021 - dez de 2022</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Colaborador Frontend, prestando serviços terceirizados de
              desenvolvimento web para o Bradesco, utilizando JavaScript,
              TypeScript, HTML, CSS, SASS e Angular. Tarefas incluem a criação
              de landing pages, portais, sites, interfaces responsivas,
              componentes, páginas semânticas e acessíveis.
            </p>

            <p>
              Além de colaborar com o Bradesco, também contribuí em
              desenvolvimentos internos de projetos-chave, como o site principal
              e o dashboard da fri.to.
            </p>
          </div>
        </div>
      </section>

      <section class="experience-container">
        <div class="experience-title-container">
          <h2 class="experience-title">
            frt
            <span
              ><br />
              Frontend Developer</span
            >
            <br />
            <small class="experience-date">dez de 2022 - o momento</small>
          </h2>
        </div>

        <div class="experiences__items">
          <div class="experiences__items__item">
            <p>
              Colaborador Frontend, prestando serviços terceirizados de
              desenvolvimento web para o Bradesco, utilizando JavaScript,
              TypeScript, HTML, CSS, SASS, Angular, Storybook e Webpack. Tarefas
              incluem criação e manutenção de landing pages, bibliotecas de
              componentes e Design System.
            </p>

            <p>
              ** A frt faz parte do grupo fri.to, sendo uma vertente da área de
              tecnologia/desenvolvimento.
            </p>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>
